@import "tailwindcss";
@import './assets/fonts/fontawesome/css/all.css';

/* MacPaw Fixel */
/* fixel-100 - latin */
@font-face {
  font-display: swap;
  font-family: 'Fixel';
  font-style: normal;
  font-weight: 100;
  src: url('./assets/fonts/Fixel/FixelText-Thin.woff2') format('woff2');
}
/* fixel-200 - latin */
@font-face {
  font-display: swap;
  font-family: 'Fixel';
  font-style: normal;
  font-weight: 200;
  src: url('./assets/fonts/Fixel/FixelText-ExtraLight.woff2') format('woff2');
}
/* fixel-300 - latin */
@font-face {
  font-display: swap;
  font-family: 'Fixel';
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/Fixel/FixelText-Light.woff2') format('woff2');
}
/* fixel-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Fixel';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Fixel/FixelText-Regular.woff2') format('woff2');
}
/* fixel-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Fixel';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/Fixel/FixelText-Medium.woff2') format('woff2');
}
/* fixel-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Fixel';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/Fixel/FixelText-SemiBold.woff2') format('woff2');
}
/* fixel-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Fixel';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/Fixel/FixelText-Bold.woff2') format('woff2');
}
/* fixel-800 - latin */
@font-face {
  font-display: swap;
  font-family: 'Fixel';
  font-style: normal;
  font-weight: 800;
  src: url('./assets/fonts/Fixel/FixelText-ExtraBold.woff2') format('woff2');
}
/* fixel-900 - latin */
@font-face {
  font-display: swap;
  font-family: 'Fixel';
  font-style: normal;
  font-weight: 900;
  src: url('./assets/fonts/Fixel/FixelText-Black.woff2') format('woff2');
}


@theme {
  --font-fixel: Fixel, sans-serif;

  --color-background: oklch(17.6% 0.002 197);
  --color-gray: oklch(45.3% 0 0);
  --color-main: oklch(59.7% 0.046 230.1);
  --color-secondary: oklch(91.9% 0.049 230.2);
  --color-gradient: linear-gradient(
    to right,
    oklch(86.2% 0.064 76.9),
    oklch(77.5% 0.082 72.9)
  );

  --breakpoint-sm: 50rem;
  --breakpoint-md: 60rem;
  --breakpoint-lg: 75rem;
  --breakpoint-xl: 90rem;
  --breakpoint-2xl: 96rem;
/* 
  --container-3xs: 16rem;
  --container-2xs: 18rem;
  --container-xs: 20rem;
  --container-sm: 24rem;
  --container-md: 28rem;
  --container-lg: 32rem;
  --container-xl: 36rem;
  --container-2xl: 42rem;
  --container-3xl: 48rem;
  --container-4xl: 56rem;
  --container-5xl: 64rem;
  --container-6xl: 72rem;
  --container-7xl: 80rem; */
}

@theme {
  --animate-logo-carousel: logo-carousel 20s linear infinite;

  @keyframes logo-carousel {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
}